:root {
  --wine-red: #c7375f;
  --dark-green: #344d2f;
  --gold: #fac57d;
  --snow: #f0f4f7;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--snow);
  background-color: var(--dark-green);
  background: url("images/santa-claus-1906513_1280.jpg") no-repeat center/cover;
}

.container {
  width: 365px;
  background-color: rgba(52, 77, 47, 0.8);
  border-radius: 5px;
  padding: 1.75em 0 2.25em;
  margin-top: 15em;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 2rem;
}

img {
  height: 300px;
  width: 335px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-top: 1.25em;
}

button {
  margin-top: 2em;
  padding: 1em 2em;
  border: none;
  font-size: 1.2rem;
  background-color: var(--gold);
  font-weight: bold;
  color: var(--wine-red);
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:hover {
  cursor: pointer;
  background-color: var(--wine-red);
  color: var(--gold);
  transform: scale(1.03);
}
